name: Deploy HRMS React App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image (React + Nginx)
        run: docker build -f docker/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/hrms-frontend:latest .

      - name: Push Image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/hrms-frontend:latest

      - name: Deploy with Docker Compose
        run: |
          cd C:/Users/AI-Agent/Desktop/HRMS-PROD/HRMS/docker
          docker compose -f docker-compose.yml pull
          docker compose -f docker-compose.yml up -d --force-recreate
